<div id="main-envios">
	<div style="margin: 20px;">
		<h2>{{yaTieneEnvio ? 'Datos de tu envío' : 'Configurá los datos de tu producto para el Envío'}}</h2>
	</div>
	<!-- <div style="margin: 25px;">
		<mat-icon (click)="downloadFile()" matTooltip="Clickeá acá para descargar el tutorial">info</mat-icon>
	</div> -->
</div>
<div style="display: flex; justify-content: center;">
	<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
</div>
<div *ngIf="!loading && !yaTieneEnvio">
	<form [formGroup]="ordenForm" id="envio-form">
		<mat-form-field>
			<mat-label>Peso Aproximado del Producto</mat-label>
			<input matInput formControlName="peso" type="number" class="number-input">
			<span matSuffix style="margin: 20px;">gramos</span>
			<mat-error *ngIf="ordenForm.get('peso')!.hasError('required')">
				Campo obligatorio
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Disponibilidad Horaria</mat-label>
			<!-- <input matInput formControlName="disponibilidad"> -->
			<mat-select formControlName="disponibilidad">
				<mat-option value="9-12"> 9hs a 12hs</mat-option>
				<mat-option value="13-16"> 13hs a 16hs</mat-option>
				<mat-option value="17-20"> 17hs a 20hs</mat-option>
			</mat-select>
			<mat-error *ngIf="ordenForm.get('disponibilidad')!.hasError('required')">
				Campo obligatorio
			</mat-error>
		</mat-form-field>
	</form>
	<div *ngIf="ordenForm.valid" class="costo-envio">
		<div>Costo de envío:</div>
		<b style="font-size: 14px;">{{costoEnvio ? (costoEnvio | currency) : '-'}}</b>
		<button mat-fab extended class="confirm" (click)="calcularEnvio()">Calcular</button>
	</div>
	<div class="buttons">
		<button mat-fab extended color="light" (click)="dialogRef.close()">CANCELAR</button>
		<button mat-fab extended class="confirm" [disabled]="loadingSave || !ordenForm.valid"
		(click)="crearOrden();ordenForm.markAllAsTouched(); ordenForm.valid">
			<span>CONFIRMAR</span>
		</button>
		<mat-spinner diameter="20" *ngIf="loadingSave"></mat-spinner>
	</div>
</div>

<div *ngIf="!loading && yaTieneEnvio" class="main-data">
	<h2>{{yaTieneEnvio.titulo}}</h2>
	<p>Precio de envío: {{yaTieneEnvio.precioEnvio}}</p>
	<p>Origen: {{yaTieneEnvio.nombreUserOrigen}}</p>
	<p>Destino: {{yaTieneEnvio.nombreUserDestino}}</p>
	<p>Fecha a despachar: {{yaTieneEnvio.fechaADespachar}}</p>
	<div>
		Estados:
		<div *ngFor="let estado of yaTieneEnvio.listaFechaEnvios">
			{{estado.estado}} - {{estado.fechaEnvio}}
		</div>
	</div>
</div>