<div id="main-envios">
	<div style="margin: 20px;">
		<h2>Configurá los datos de tu producto para el Envío</h2>
	</div>
	<!-- <div style="margin: 25px;">
		<mat-icon (click)="downloadFile()" matTooltip="Clickeá acá para descargar el tutorial">info</mat-icon>
	</div> -->
</div>
<div style="display: flex; justify-content: center;">
	<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
</div>
<div *ngIf="!loading">
	<form [formGroup]="ordenForm" id="envio-form">
		<mat-form-field>
			<mat-label>Peso Aproximado del Producto</mat-label>
			<input matInput formControlName="peso" type="number" class="number-input">
			<span matSuffix style="margin: 20px;">kg</span>
			<mat-error *ngIf="ordenForm.get('peso')!.hasError('required')">
				Campo obligatorio
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Código Postal</mat-label>
			<input matInput formControlName="codigoPostal">
			<mat-error *ngIf="ordenForm.get('codigoPostal')!.hasError('required')">
				Campo obligatorio
			</mat-error>
		</mat-form-field>
	</form>
	<div *ngIf="ordenForm.valid" class="costo-envio">
		<div>Costo de envío: {{costoEnvio | currency}}</div>
		<button mat-fab extended class="confirm" (click)="calcularEnvio()">Calcular</button>
	</div>
	<div class="buttons">
		<button mat-fab extended color="light" (click)="dialogRef.close()">CANCELAR</button>
		<button mat-fab extended class="confirm" [disabled]="loadingSave || !ordenForm.valid"
		(click)="crearOrden();ordenForm.markAllAsTouched(); ordenForm.valid">
			<span>CONFIRMAR</span>
		</button>
		<mat-spinner diameter="20" *ngIf="loadingSave"></mat-spinner>
	</div>
</div>
