#main-envios {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	mat-icon {
		margin-bottom: 0px;
		height: 30px;
		color: var(--dark-grey);
		cursor: pointer;
	}
}

#envio-form {
	display: flex;
	flex-direction: column;
	align-items: center;

	mat-form-field {
		width: 70%;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
		appearance: textfield;
	}

}

.buttons, .costo-envio {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	margin: 20px;

	.confirm {
		background-color: var(--info);
		color: black;

		&:disabled {
			background-color: var(--light-grey);
		}
	}
}

@media (min-width: 0px) and (max-width: 576px) {
	.buttons {
		flex-direction: column-reverse;
		margin-bottom: 20px;
	}
}