<app-header></app-header>

<!-- <app-my-profile *ngIf="myProfile && user && userData" [user]="user" [userData]="userData" [router]="router" [screenWidth]="screenWidth"></app-my-profile> -->

<!-- <app-other-profile *ngIf="user" [user]="user"></app-other-profile> -->

<div id="main-profile" class="app-main-div">
	<div class="top-div" *ngIf="userToShow">
		<div class="top-img" (click)="selectImage()" [ngClass]="myProfile ? 'editable-img' : ''">
			<img [src]="userData.isSwapper ? 'assets/perfiles/perfiles-17.jpg' : 'assets/perfiles/perfiles-24.jpg'" alt="">
			<mat-icon class="edit-icon">edit</mat-icon>
		</div>
		<mat-card class="top-text">
				<h2>{{userToShow.nombre}}</h2>
				<h4>{{userData.isSwapper ? 'Swapper' : 'Fundación'}}</h4>
		</mat-card>
	</div>
	<div class="bottom-div" *ngIf="userToShow">
		<mat-card class="left">
			<p><mat-icon>alternate_email</mat-icon>{{userToShow.email}}</p>
			<p><mat-icon>phone</mat-icon>{{userToShow.telefono}}</p>
			<a *ngIf="(!userData.isSwapper || myProfile) && userToShow.direccion" class="location clickable" (click)="showMap(userToShow.direccion)">
				<mat-icon>place</mat-icon>
				{{!userData.isSwapper || myProfile ? userToShow.direccion.direccion + ' ' + userToShow.direccion.altura + ' ('+ userToShow.direccion.codigoPostal + ')'
					: userToShow.direccion.codigoPostal
				}}
			</a>
			<p *ngIf="userData.isSwapper && !myProfile && userToShow.direccion" class="location">
				<mat-icon>place</mat-icon>
				{{userData.isSwapper ? userToShow.direccion.codigoPostal :
					userToShow.direccion.direccion + ' ' + userToShow.direccion.altura + ' ('+ userToShow.direccion.codigoPostal + ')'
				}}
			</p>
			<div class="div-edit-info" *ngIf="myProfile">
				<button mat-fab extended color="accent" (click)="edit()">EDITAR INFORMACIÓN</button>
			</div>
			<div class="div-cambiar-pass" *ngIf="myProfile">
				<button mat-fab extended color="primary">CAMBIAR CONTRASEÑA</button>
			</div>
		</mat-card>
		<mat-card class="right">
			<div class="puntaje">
				<div class="title">
					<h3>Puntaje:</h3>
					<div>
						<mat-icon *ngFor="let i of [].constructor(userToShow.puntaje || 0)" color="primary">star</mat-icon>
						<mat-icon *ngFor="let i of [].constructor(5-(userToShow.puntaje || 0))" class="empty-star">star</mat-icon>
					</div>
					<div>({{userToShow.opiniones?.length || 0}} {{userToShow.opiniones?.length == 1 ? 'opinión' : 'opiniones'}})</div>
				</div>
				<div class="div-opinar" *ngIf="!myProfile">
					<button mat-fab extended color="primary">OPINAR</button>
				</div>
			</div>
			<div class="opiniones">
				<h3>Opiniones:</h3>
				<div>
					<mat-card *ngFor="let opinion of userToShow.opiniones" class="card-opinion">
						<div class="valoracion">
							<h4>Valoración:</h4>
							<div style="margin: 0 10px; display: flex; align-items: center;">
								<mat-icon *ngFor="let i of [].constructor(opinion.valoracion || 0)" color="primary">star</mat-icon>
								<mat-icon *ngFor="let i of [].constructor(5-(opinion.valoracion || 0))" class="empty-star">star</mat-icon>
							</div>
							<div>
								({{opinion.usuarioOpina}} - {{opinion.fechaOpinion | date : 'dd/MM/yyyy'}})
							</div>
						</div>
						<!-- <div class="usuario-opinion">
							<h4>Opinión de:</h4>
							<div>{{opinion.usuarioOpina}}</div>
						</div> -->
						<div class="descripcion">
							<h4>Descripción:</h4>
							<div>{{opinion.descripcion}}</div>
						</div>
					</mat-card>
					<mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="pageSize" [showFirstLastButtons]="true"
		[length]="userToShow.opiniones.length" #paginator (page)="changePage($event)" style="border-radius: 15px;"
		*ngIf="userToShow.opiniones && userToShow.opiniones.length > 0"></mat-paginator>
				</div>
			</div>
		</mat-card>
	</div>
</div> 