#main-profile {
	padding: 2%;

	mat-card {
		margin: 10px;
	}

	.top-div {
		display: grid;
		grid-template-columns: 1fr 2fr;

		.top-img {
			position: relative;
			display: inline-block;
			border-radius: 50%;
			height: 145px;

			img {
				display: block;
				transition: filter 0.3s;
				border-radius: 50%;
				height: 145px;
				margin: 0 auto;
			}
			&.editable-img {
				&:hover {
					cursor: pointer;
	
					img {
						filter: brightness(0.7);
					}
	
					.edit-icon {
						opacity: 1;
					}
				}
	
				.edit-icon {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 24px;
					opacity: 0;
					transition: opacity 0.3s;
				}

			}

			/* display: flex;
			justify-content: center;

			img {
				border-radius: 50%;
				background-color: rgb(202, 202, 202);
				height: 145px;
			} */
		}

		.top-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			//margin-left: 20px;
		}
	}

	.bottom-div {
		display: grid;
		grid-template-columns: 1fr 2fr;

		.left {
			text-align: center;
			//margin: 20px;

			p,
			a {
				display: flex;
				align-items: center;
				gap: 5px;

				&.location {
					text-transform: capitalize;

					&.clickable:hover {
						cursor: pointer;
					}
				}
			}

			.div-edit-info,
			.div-cambiar-pass {
				margin-top: 20px;

				* {
					font-size: 12px;
				}

				button {
					background-color: var(--perfil);
					height: 35px;
				}
			}
		}

		.right {
			.puntaje {
				border-bottom: 1px solid var(--light-grey);
				display: flex;
				justify-content: space-between;
				padding: 10px;

				.title {
					display: flex;
					align-items: center;
					gap: 15px;
					flex-wrap: wrap;

					h3 {
						margin: 0;
					}
				}

				.div-opinar {
					* {
						font-size: 12px;
					}
					button {
						background-color: var(--opiniones);
						color: white;
					}
				}
			}

			.opiniones {
				padding: 10px;

				.card-opinion {
					padding: 10px;

					h4,
					mat-icon {
						font-size: 14px !important;
						margin-bottom: 0;
					}

					mat-icon {
						width: 16px;
						height: 16px;
					}

					div {
						font-size: 12px !important;
					}

					.valoracion {
						display: flex;
						align-items: center;
						margin-bottom: 10px;
						flex-wrap: wrap;
					}

					//.descripcion,
					.usuario-opinion {
						display: grid;
						grid-template-columns: 1fr 3fr;
						gap: 10px;
						align-items: center;
					}
				}
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 768px) {

	.top-div,
	.bottom-div {
		grid-template-columns: 1fr !important;
	}

	mat-card {
		margin: 10px 0 !important;
	}
}