<div class="card-deck">
	<div class="card row" *ngFor="let publicacion of publicacionesToShow" (click)="clicked(publicacion)"
	[ngClass]="origin=='intercambio' && publicacion.idPublicacion == cardSelected ? 'selected-card' : ''">
		<div class="col-sm-4" style="display: flex; justify-content: center;">
			<img class="card-img" *ngIf="publicacion.parsedImagenes && publicacion.parsedImagenes.length > 0"
			[src]="getImagen(publicacion.parsedImagenes![0])" 
			[ngClass]="origin=='publicaciones' ? 'big':'small'"> <!-- *ngFor="let img of publicacion.parsedImagenes" -->
		</div>
		<div class="card-body col-sm-5">
			<h2 class="card-title">{{publicacion.titulo}}</h2>
			<div class="trueque">
				Valor de trueque: ${{publicacion.valorTruequeMin}} - ${{publicacion.valorTruequeMax}} 
			</div>
			<div class="venta" *ngIf="publicacion.tipoPublicacion == 'VENTA'">
				Precio de venta: ${{publicacion.precioVenta}}
			</div>
			<div class="estado" *ngIf="origin=='propuestas'">
				Estado: {{publicacion.estadoTrueque}}
			</div>
		</div>
		<div class="card-fundacion col-sm-2" *ngIf="origin=='publicaciones'">
			<img class="img-fundacion" src="assets/persona.png">
			<h4>{{publicacion.particularDTO.nombre + ' ' + publicacion.particularDTO.apellido}}</h4>
			<h6>{{publicacion.fechaPublicacion | date: 'dd/MM/yyyy' }}</h6>
		</div>
		<div class="col-3 buttons" *ngIf="origin=='propuestas'">
			<button *ngFor="let button of buttons" mat-fab extended [color]="button.color"
			[disabled]="button.status != 'RECIBIDO' ? 
			publicacion.estadoTrueque != 'PENDIENTE' : publicacion.estadoTrueque != 'ACEPTADO'"
			(click)="changeEstadoPublicacion(publicacion, button.status); $event.stopPropagation()">
				<mat-icon>{{button.icon}}</mat-icon>
				{{button.name}}
			</button>
		</div>
	</div>
</div>