header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    width: 100%;
    max-height: 73px;
    padding: 1em;
}

header #left{
    margin-left: 0;
}