/** {
    overflow: hidden auto !important;
}*/

mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100dvh - 73px);
    padding: 1rem;
}

mat-drawer{
    width: max(20vw, 300px);
    max-height: calc(100dvh - 73px); //full screen - header height
    background-color: #c3c0c0;
    scrollbar-width: thin;
    scrollbar-color: gray;
}

mat-drawer::-webkit-scrollbar {
    width: 8px;
    border-right: 1px solid gray;
}

mat-drawer::-webkit-scrollbar-track {
    background: rgb(235, 235, 235);
}

mat-drawer::-webkit-scrollbar-thumb {
    background-color: rgb(210, 210, 210);
}