<app-header></app-header>

<div id="main-donacion">
	<app-spinner [loading]="loading"></app-spinner>
	<mat-card id="main-card" *ngIf="!loading">
		<mat-card-header style="margin-bottom: 20px;">
			<mat-card-title>Completá los datos de tu donación!</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="donacionForm" class="form" [ngClass]="screenWidth > 576 ? 'big-form':'small-form'">
				<div class="form-input form-col">
					<mat-form-field>
						<mat-label>Producto</mat-label>
						<mat-select formControlName="producto">
							<mat-option *ngFor="let prod of colecta.productos" [value]="prod.idProducto">
								{{prod.descripcion}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="donacionForm.get('producto')!.hasError('required')">
							Campo obligatorio
						</mat-error>
					</mat-form-field>
				</div>

				<div class="form-col">
					<mat-form-field>
						<mat-label>Cantidad</mat-label>
						<input matInput formControlName="n_cantidad" type="number">
						<mat-error *ngIf="donacionForm.get('n_cantidad')!.hasError('required')">
							Campo obligatorio
						</mat-error>
					</mat-form-field>
				</div>

				<section formArrayName="caracteristicas" class="form-col">
					<div>
						<label class="caract-label">
							Características
							<mat-icon class="material-icons-outlined"
							matTooltip="Por favor incluir medidas, estado del producto,  material del producto y cualquier característica que identifique a tu producto">
								info
							</mat-icon>
						</label>
					</div>
					<div>
						<div *ngFor="let caracteristica of getCaracteristicasArray.controls; let i=index"
							class="caracteristica" [formGroupName]="i">
							<mat-form-field>
								<input matInput placeholder="Descripción*" formControlName="s_descripcion">
								<mat-error *ngIf="caracteristica.get('s_descripcion')!.hasError('pattern')">
									El campo no puede contener <b>;</b>
								</mat-error>
								<mat-error *ngIf="caracteristica.get('s_descripcion')!.hasError('required')">
									Campo obligatorio
								</mat-error>
							</mat-form-field>
							<button type="button" (click)="removeCaracteristica(i)" mat-icon-button color="light"
							style="height: 60px; margin-left: 5px;">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
						<button type="button" (click)="agregarCaracteristica()" mat-raised-button color="light" style="width: 100%;">
							<mat-icon>add</mat-icon>
							<label>Agregar Característica</label>
						</button>
					</div>
				</section>

				<div class="form-col">
					<div>
						<label style="font-weight: 500; font-size: large; margin: 7px 0;">Imágenes</label>
					</div>
					<button type="button" mat-raised-button color="light" (click)="file.click()">
						<mat-icon>add</mat-icon>
						Agregar Imagen
					</button>
					<input formControlName="file" id="file" type="file" class="form-control hidden" multiple=""
						(change)="onFileChange($event)" #file>
					<div class="form-col form-imgs">
						<div class="show-image" *ngFor='let url of images; let i = index;' (click)="removeImagen(i)" >
							<div class="image" >
								<div class="overlay">
								</div>
								<mat-icon class="update" color="primary">delete</mat-icon>
								<img [src]="url" class="img-producto">
							</div>
						</div>
					</div>
				</div>

				<div class="form-col mensaje-field">
					<mat-form-field>
						<mat-label>Mensaje Adicional</mat-label>
						<textarea matInput
						cdkTextareaAutosize
						#autosize="cdkTextareaAutosize"
						cdkAutosizeMinRows="1"
						cdkAutosizeMaxRows="5"
						formControlName="mensaje"></textarea>
					</mat-form-field>
				</div>
			</form>
		</mat-card-content>
		<mat-card-actions class="buttons">
			<button mat-raised-button color="primary"
				(click)="confirmarDonacion();donacionForm.markAllAsTouched(); donacionForm.valid">
				CONFIRMAR DONACIÓN
			</button>
		</mat-card-actions>
	</mat-card>
</div>