<main>
	<form class="loginPanel" #loginForm="ngForm" (ngSubmit)="onSubmit()">
		<img src="assets/logo_green_small.png" />
		<input type="text" placeholder="Usuario" #user required autocomplete="off" />
		<div>
			<input [type]="passwordType" placeholder="Contraseña" #password required autocomplete="off" />
			<mat-icon matSuffix (click)="togglePassword()" class="eye">{{passwordIcon}}</mat-icon>
		</div>
		<button id="submitLogin" type="submit" [disabled]="loadingSave"
		 [ngClass]="loadingSave ? 'disabled' : 'enabled'">
			<span class="button-text">LOGIN</span>
			<mat-spinner *ngIf="loadingSave" diameter="20"></mat-spinner>
		  </button>
		<a id="create" (click)="createAccount()">Crear cuenta</a>
		<a id="invitado" (click)="goToHome()">Entrar como invitado</a>
	</form>
</main>