
<div id="main-trocar" *ngIf="!loading">

	<div class="publicacion-origen" *ngIf="cardPublicacionOrigen">
		<app-card app="publicaciones" [cardData]="cardPublicacionOrigen"></app-card>
	</div>
	<div class="mis-publicaciones">
		<h3 style="text-align: center;">Seleccioná una de tus publicaciones para intercambiar!</h3>
		<div *ngIf="publicacionesCardList.length > 0" style="max-width: 98%;">
			<app-deck [cardList]="publicacionesCardList" app="publicaciones"
			(cardSelected)="selectCard($event)" [pageSize]="3"></app-deck>
		</div>
	</div>
</div>
<div id="trocar-buttons">
	<button mat-fab extended color="light" (click)="close()">CANCELAR</button>
	<button mat-fab extended color="primary" [disabled]="!cardSelected" (click)="solicitarTrueque()">SOLICITAR INTERCAMBIO</button>
</div>