<mat-card style="margin: 10px;">
	<mat-card-header style="border-bottom: solid 1px var(--light-grey);">
		<div mat-card-avatar class="donacion-example-header-image"></div>
		<mat-card-title>{{usuarioHeader.nombre}} {{usuarioHeader.apellido}}</mat-card-title>
		<mat-card-subtitle>
			<mat-icon *ngFor="let i of getStars(usuarioHeader.puntaje)" color="primary">star</mat-icon>
			<mat-icon *ngFor="let i of getStars(5-(usuarioHeader.puntaje))" class="empty-star">star</mat-icon>
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content class="donacion-card-content">
		<div>
			<h2 class="card-title">{{donacion.producto.descripcion || donacion.nombreProducto}}</h2>
			<p>Cantidad: {{donacion.cantidadDonacion}}</p>
			<p [class.aprobada]="donacion.estadoDonacion == 'APROBADA'"
				[class.rechazada]="donacion.estadoDonacion == 'RECHAZADA'">Estado: {{donacion.estadoDonacion}}</p>
			<p>{{caracteristicas.length > 0 ? 'Características: ' + caracteristicas : ''}}</p>
		</div>
		<div class="imagenes">
			<img [src]="getImage(img)" *ngFor="let img of donacion.parsedImagenes" (click)="zoomImage(img)" />
		</div><!-- *ngFor="let img of donacion.imagenes" -->
		<div class="donacion-status">
			<button *ngFor="let button of buttons" mat-raised-button [color]="button.color" 
			(click)="changeEstadoDonacion(donacion, button.status)"
				[disabled]="button.disabled">
				<mat-icon>{{button.icon}}</mat-icon>
				{{button.name}}
			</button>
		</div>
	</mat-card-content>
</mat-card>