<app-header></app-header>

<div>
	<h3 style="margin: 20px 0 0 5px;">Propuestas</h3>
	<mat-card *ngFor="let propuesta of propuestas" style="margin: 10px;">
		<mat-card-header style="border-bottom: solid 1px var(--light-grey);">
			<div mat-card-avatar class="propuesta-example-header-image"></div>
			datos de la fundacion
			<!-- <mat-card-title>{{propuesta.swapper.s_nombre}} {{propuesta.swapper.s_apellido}}</mat-card-title>
			<mat-card-subtitle>
				<mat-icon *ngFor="let i of [].constructor(perfil.n_puntaje)" color="primary">star</mat-icon>
				<mat-icon *ngFor="let i of [].constructor(5-perfil.n_puntaje)" class="empty-star">star</mat-icon>
			</mat-card-subtitle> -->
			<!-- <button mat-raised-button (click)="openDialog()"> VER EN EL MAPA</button> -->
		</mat-card-header>
		<mat-card-content class="propuesta-card-content">
			<div>
				<h2 class="card-title">{{propuesta.descripcion}}</h2>
				<p>Cantidad: {{propuesta.cantidadPropuesta}}</p>
				<p [class.propuesta-aceptada]="propuesta.estadoPropuesta == 'ACEPTADA'"
				[class.propuesta-rechazada]="propuesta.estadoPropuesta == 'RECHAZADA'">Estado: {{propuesta.estadoPropuesta}}</p>
			</div>
			<div class="imagenes">
				<img [src]="img" *ngFor="let img of propuesta.imagenes" (click)="zoomImage(img)"/>
			</div>
			<div class="propuesta-status">
				Desactivar<mat-slide-toggle [checked]="propuesta.estadoPropuesta != 'CANCELADA'"
				[disabled]="propuesta.estadoPropuesta == 'ACEPTADA' || propuesta.estadoPropuesta == 'EN_ESPERA'" 
				(change)="changeEstadoPropuesta(propuesta, $event)">Activar</mat-slide-toggle>
			</div>
		</mat-card-content>
	</mat-card>
</div>
