<app-header
	[title]="origin == 'all' ? 'Publicaciones' : (origin == 'myPublicaciones' ? 'Mis Publicaciones' : 'Mis Compras')"></app-header>

<div id="main-publicaciones" class="app-main-div">
	<div class="dense-3">
		<div ngbAccordion *ngIf="origin != 'myCompras'" #accordion="ngbAccordion">
			<div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="false">
				<h2 ngbAccordionHeader>
					<button ngbAccordionButton class="bg-transparent accordion-header-button">
						<mat-icon>tune</mat-icon> <span style="margin-left: 10px;">Filtros</span>
					</button>
				</h2>
				<div ngbAccordionCollapse>
					<div ngbAccordionBody>
						<ng-template>
							<form [formGroup]="formFiltros" id="form-filtros" *ngIf="origin == 'all'">
								<mat-form-field class="example-chip-list" appearance="outline">
									<mat-label>Localidades</mat-label>
									<mat-chip-grid #chipGrid aria-label="Localidad">
										<mat-chip-row *ngFor="let localidad of localidades" (removed)="remove(localidad)" [matTooltip]="localidad">
											{{localidad}}
											<button matChipRemove [attr.aria-label]="'eliminar ' + localidad">
												<mat-icon style="height: 16px;">cancel</mat-icon>
											</button>
										</mat-chip-row>
	
										<input placeholder="Localidad..." #localidadInput formControlName="localidad"
											[matChipInputFor]="chipGrid" [matAutocomplete]="autoLocalidad" matInput
											(matChipInputTokenEnd)="add($event)" />
									</mat-chip-grid>
									<mat-autocomplete #autoLocalidad="matAutocomplete" (optionSelected)="selected($event); localidadInput.value = ''">
										<mat-option *ngFor="let localidad of filteredLocalidades | async" [value]="localidad">
											{{localidad}}
										</mat-option>
									</mat-autocomplete>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Tipo del Producto</mat-label>
									<mat-select formControlName="tipoProducto">
										<mat-option *ngFor="let tipo of tipos_productos" [value]="tipo.nombre">
											{{tipo.descripcion}}
										</mat-option>
									</mat-select>
									<!-- <input matInput formControlName="tipoProducto"> -->
								</mat-form-field>
								<div style="text-align: center;">
									<button mat-fab extended color="primary"
										(click)="filtrarPublicaciones()">FILTRAR</button>
									<button mat-fab extended (click)="limpiarFiltros()"
										style="background-color: white;">LIMPIAR</button>
								</div>
							</form>
							<div style="min-width: 210px;" *ngIf="origin == 'myPublicaciones'">
								<mat-radio-group value="all" style="display: flex; flex-direction: column;" (change)="filterByStatus($event)">
									<mat-radio-button value="all">Todas</mat-radio-button>
									<mat-radio-button value="open">Abiertas</mat-radio-button>
									<mat-radio-button value="closed">Cerradas</mat-radio-button>
								</mat-radio-group>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<app-spinner [loading]="loading"></app-spinner>
		<div *ngIf="filteredPublicacionesCardList.length==0 && !loading" style="text-align: center;">No hay publicaciones para mostrar</div>
		<app-deck *ngIf="filteredPublicacionesCardList.length > 0 && !loading" [cardList]="filteredPublicacionesCardList" app="publicaciones"></app-deck>
	</div>
</div>
<div class="floating-button-container">
	<button mat-fab color="primary" aria-label="Agregar Publicación" (click)="addPublicacion()"
		matTooltip="Agregar Publicación" matTooltipPosition="before">
		<mat-icon>add</mat-icon>
	</button>
</div>
