.footer {
	background: transparent url('../../../assets/footer.png') no-repeat center;
	background-size: cover;
	background-position: top;
    position: relative;
    height: 140px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px;
	margin-top: 60px;

	.footer-toolbar {
		display: flex;
		justify-content: space-around;

		* {
			color: white;
		}
	}
}