<app-header></app-header>

<div id="main-colecta" class="app-main-div">
	<app-spinner [loading]="loading"></app-spinner>
	
	<div *ngIf="colecta && !loading">
		<app-main-card-colecta [colecta]="colecta" [userData]="userData"></app-main-card-colecta>
	</div>

	<div *ngIf="!loading">
		<h3 style="margin: 20px 0 0 5px; font-weight: bold;">
			{{this.userData.isSwapper ? 'Mis donaciones Pendientes' : 'Donaciones Pendientes'}}
		</h3>
		<div *ngIf="donacionesAbiertas.length == 0 && !loading" style="text-align: center;">
			Esta colecta no tiene nuevas donaciones aún!
		</div>
		<div *ngIf="donacionesAbiertas.length > 0">
			<app-deck [cardList]="donacionesAbiertas" app="donaciones" [fullScreenWidth]="true"
			(statusChanged)="getColecta()" (modalClosed)="cardModalClosed($event)"></app-deck>
		</div>
	</div>

	<div *ngIf="!loading">
		<h3 style="margin: 20px 0 0 5px; font-weight: bold;">
			Donaciones Cerradas
		</h3>
		<div *ngIf="donacionesToShow.length == 0 && !loading" style="text-align: center;">
			Esta colecta no tiene donaciones cerradas aún!
		</div>
		<div *ngIf="donacionesCerradas.length > 0">
			<app-deck [cardList]="donacionesCerradas" app="donaciones" [fullScreenWidth]="true"
			(statusChanged)="getColecta()" (modalClosed)="cardModalClosed($event)"></app-deck>
		</div>
	</div>
</div>