<app-header></app-header>

<div id="main-colecta">
	<app-spinner [loading]="loading"></app-spinner>
	<mat-card *ngIf="!loading && colecta && colecta.fundacionDTO"> <!-- && colecta.fundacionDTO.usuario -->
		<mat-card-header style="border-bottom: solid 1px var(--light-grey); padding-bottom: 10px;">
			<div class="div-header">
				<div class="header-info">
					<div mat-card-avatar class="example-header-image"></div>
					<div>
						<mat-card-title style="display: flex; align-items: center;">
							{{colecta.fundacionDTO.nombre}}
							<mat-icon class="address" (click)="showDireccion(colecta.fundacionDTO.usuario)" *ngIf="colecta.fundacionDTO.usuario">place</mat-icon>
						</mat-card-title>
						<mat-card-subtitle>
							<mat-icon *ngFor="let i of [].constructor(colecta.fundacionDTO.puntaje || 0)" color="primary">star</mat-icon>
							<mat-icon *ngFor="let i of [].constructor(5-(colecta.fundacionDTO.puntaje || 0))"
								class="empty-star">star</mat-icon>
						</mat-card-subtitle>
					</div>
				</div>
				<div>{{colecta.fechaSolicitud | date: 'dd/MM/yyyy'}}</div>
			</div>
		</mat-card-header>
		<mat-card-content class="card-content">
			<img mat-card-image [src]="colecta.imagen ? colecta.imagen : 'assets/fundacion.png'" class="colecta-img"
				(click)="zoomImage(colecta.imagen ? colecta.imagen.split('/').at(-1) : 'assets/fundacion.png')">
			<div>
				<h2 class="card-title">{{colecta.titulo}}</h2>
				<div class="descripcion">
					{{colecta.descripcion}}
				</div>
				<div class="productos">
					<h4><u>Productos</u>:</h4>
					<div *ngFor="let producto of colecta.productos" class="producto">
						{{producto.descripcion}}: {{producto.cantidadRecibida}}
						<!-- {{producto.descripcion}} -->
					</div>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions class="card-button">
			<button mat-raised-button color="primary" (click)="donar()" *ngIf="!(userData.isLoggedIn && !userData.isSwapper)">QUIERO DONAR</button>
		</mat-card-actions>
	</mat-card>

	<div *ngIf="showDonaciones && !loading">
		<h3 style="margin: 20px 0 0 5px; font-weight: bold;">
			{{this.userData.isSwapper ? 'Mi donación' : 'Donaciones'}}
		</h3>
		<div *ngIf="donacionesToShow.length == 0 && !loading" style="text-align: center;">Esta colecta no tiene donaciones
			aún!</div>
		<app-card-donacion *ngFor="let donacion of donacionesToShow" [donacion]="donacion"
			[usuarioHeader]="donacion.particularDTO" [buttons]="this.userData.isSwapper ? 
			[{name: 'cancelar', icon: 'close', color: 'warn', status: 'CANCELADA', disabled: donacion.estadoDonacion != 'PENDIENTE'}]
			: [
				{name: 'aceptar', icon: 'check', color: 'primary', status: 'APROBADA', disabled: donacion.estadoDonacion != 'PENDIENTE'},
				{name: 'rechazar', icon: 'close', color: 'warn', status: 'RECHAZADA', disabled: donacion.estadoDonacion != 'PENDIENTE'},
				{name: 'recibida', icon: 'done_all', color: 'primary', status: 'RECIBIDA', disabled: donacion.estadoDonacion != 'APROBADA'},
			]"></app-card-donacion>
	</div>
</div>