<app-header></app-header>

<div id="main-colecta">
	<app-spinner [loading]="loading"></app-spinner>
	<mat-card *ngIf="!loading && fundacion && usuario && colecta">
		<mat-card-header style="border-bottom: solid 1px var(--light-grey); padding-bottom: 10px;">
			<div class="div-header">
				<div class="header-info">
					<div mat-card-avatar class="example-header-image"></div>
					<div>
						<mat-card-title style="display: flex; align-items: center;">
							{{fundacion.nombre}}
							<mat-icon class="address" (click)="showDireccion(fundacion.usuario)">place</mat-icon>
						</mat-card-title>
						<mat-card-subtitle>
							<mat-icon *ngFor="let i of [].constructor(usuario.puntaje)" color="primary">star</mat-icon>
							<mat-icon *ngFor="let i of [].constructor(5-usuario.puntaje)" class="empty-star">star</mat-icon>
						</mat-card-subtitle>
					</div>
				</div>
				<div>{{colecta.fechaSolicitud | date: 'dd/MM/yyyy'}}</div>
			</div>
		</mat-card-header>
		<mat-card-content class="card-content">
			<img mat-card-image [src]="colecta.imagen ? colecta.imagen : 'assets/fundacion.png'"
				class="colecta-img" (click)="zoomImage(colecta.imagen ? colecta.imagen.split('/').at(-1) : 'assets/fundacion.png')">
			<div>
				<h2 class="card-title">{{colecta.titulo}}</h2>
				<div class="descripcion">
					{{colecta.descripcion}}
				</div>
				<div class="productos">
					<div *ngFor="let producto of colecta.productos" class="producto">
						{{producto.descripcion}}: {{producto.cantidadRecibida}}
					</div>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions class="card-button" *ngIf="userData.isSwapper">
			<button mat-raised-button color="primary" (click)="donar()">QUIERO DONAR</button>
		</mat-card-actions>
	</mat-card>

	<div *ngIf="(usuario && !usuario.particular && fundacion && fundacion.idFundacion == userData.id_fundacion) || 
				(this.userData.isSwapper && usuario) && !loading">
		<h3 style="margin: 20px 0 0 5px; font-weight: bold;">{{this.userData.isSwapper ? 'Mi donación' : 'Donaciones'}}</h3>
		<div *ngIf="donaciones.length == 0 && !loading" style="text-align: center;">Esta colecta no tiene donaciones aún!</div>
		<mat-card *ngFor="let donacion of donaciones" style="margin: 10px;">
			<mat-card-header style="border-bottom: solid 1px var(--light-grey);">
				<div mat-card-avatar class="donacion-example-header-image"></div>
				<mat-card-title>{{donacion.particular.nombre}} {{donacion.particular.apellido}}</mat-card-title>
				<mat-card-subtitle>
					<mat-icon *ngFor="let i of [].constructor(usuario.puntaje)" color="primary">star</mat-icon>
					<mat-icon *ngFor="let i of [].constructor(5-usuario.puntaje)" class="empty-star">star</mat-icon>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content class="donacion-card-content">
				<div>
					<h2 class="card-title">{{donacion.producto.descripcion}}</h2>
					<p>Cantidad: {{donacion.cantidadDonacion}}</p>
					<p [class.aprobada]="donacion.estadoDonacion == 'APROBADA'"
					[class.rechazada]="donacion.estadoDonacion == 'RECHAZADA'">Estado: {{donacion.estadoDonacion}}</p>
				</div>
				<div class="imagenes" >
					<img [src]="getImage(img)" *ngFor="let img of donacion.parsedImagenes" (click)="zoomImage(img)" />
				</div><!-- *ngFor="let img of donacion.imagenes" -->
				<div class="donacion-status" *ngIf="usuario && !usuario.particular && fundacion && fundacion.idFundacion == userData.id_fundacion">
					<button mat-raised-button color="primary" (click)="changeEstadoDonacion(donacion, 'APROBADA')"
					[disabled]="donacion.estadoDonacion != 'PENDIENTE'">
						<mat-icon>check</mat-icon>
						ACEPTAR
					</button>
					<button mat-raised-button color="warn" (click)="changeEstadoDonacion(donacion, 'RECHAZADA')"
					[disabled]="donacion.estadoDonacion != 'PENDIENTE'">
						<mat-icon>close</mat-icon>
						RECHAZAR
					</button>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>