.picsum-img-wrapper {
	img {
		width: 100%;
	}
}

#accesos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
	gap: 5%;
	margin: 20% 2%;

	.card {
		transition: transform 0.2s;
		cursor: pointer;
		height: 40vh;

		&:hover {
			transform: scale(1.1);
		}

		&#colectas {

			h1,
			p {
				opacity: 1 !important;
			}
		}

		.card-body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;

			h1 {
				width: 185px;
			}

			p {
				width: 30vw;
			}
		}

		.card-bottom {
			text-align: center;
			padding: 10px;
			display: flex;
			justify-content: space-around;
			width: 100%;
			align-items: center;
			//background: #bceba1;
			border-radius: 0 0 10px 10px;

			* {
				margin: 0;
			}

			&.publicacion {
				background-color: #bceba1;
			}

			&.colecta {
				background-color: #dcb9ef;
			}
		}
	}


}

#valores {
	margin: 20% 2%;

	.content-valores {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		gap: 5%;
		text-align: center;

		mat-icon {
			font-size: 60px;
			width: 60px;
			height: 60px;
			color: var(--trueques-dark);
		}

		.p-text {
			width: 20vw;
		}
	}
}

#beneficios {
	margin: 20% 2%;

	.beneficios-content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		gap: 5%;
		text-align: center;

		.card {
			cursor: default;
			transition: transform 0.2s;

			&:hover {
				transform: scale(1.05);
			}

			img.card-img {
				width: 40vw;
				height: 100%;
				border-radius: 13px;
				filter: brightness(0.4);
				object-fit: cover;

			}

			.card-img-overlay {
				display: flex;
				align-items: center;
				justify-content: center;

				h2 {
					font-weight: 600;
					font-size: 36px;
					color: white;
					line-height: 1;
				}
			}
		}
	}
}

#quienes-somos {
	margin: 20% 2%;

	img {
		object-fit: contain;
	}

	/* .quienes-somos-content {
		.img-back {
			width: 100%;
			opacity: 1;
			display: block;
			width: 100%;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;
		}

		.middle {
			transition: .5s ease;
			//opacity: 0;
			position: absolute;
			top: 20%;
			left: 3%;
		}

		/* &:hover *
		.img-back {
			filter: brightness(0.5);
		}

		/* &:hover .middle {
			opacity: 1;
		  } *

		.text {
			//background-color: #4CAF50;
			color: white;
			font-size: 16px;
			padding: 16px 32px;
			width: 50%;
		}

		.topleft {
			position: absolute;
			top: 10%;
			left: 5%;
			//transform: translate(-50%, -50%);
			font-size: 36px;
			color: white;
		}
	} */
}

@media (min-width: 0px) and (max-width: 576px) {
	#accesos .card .card-body p {
		width: 80vw !important;
	}

	.p-text {
		width: 80vw !important;
	}

	#beneficios {
		img.card-img {
			width: 80vw;
		}
	}

	.card-img-overlay h2 {
		font-size: 20px !important;
	}

	/* .topleft {
		font-size: 18px !important;
	}

	.text {
		width: 100% !important;
		font-size: 12px !important;
	} */
}

@media (min-width: 577px) and (max-width: 768px) {
	.card-img-overlay h2 {
		font-size: 30px !important;
	}

	/* .text {
		width: 80% !important;
		font-size: 14px;
	} */
}