<app-header></app-header>

<ngb-carousel *ngIf="images" [interval]="3500">
	<ng-template ngbSlide *ngFor="let img of images">
		<div class="picsum-img-wrapper">
			<img [src]="img"/>
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
</ngb-carousel>

<div class="grid-div">
	<div class="row-div">
		<div class="col-div">
			<img src="assets/home/ultimos-11.jpg">
		</div>
	</div>
	<div class="row-div">
		<div></div>
		<div class="col-div">
			<img src="assets/home/ultimos-12.jpg">
		</div>
	</div>
	<div class="row-div">
		<div class="col-div">
			<img src="assets/home/subir-publ-14.png">
		</div>
	</div>
</div>
<!-- <mat-grid-list cols="2" rowHeight="200px" gutterSize="10px">
	<mat-grid-tile [colspan]="1" [rowspan]="1">
	</mat-grid-tile>
</mat-grid-list> -->