.picsum-img-wrapper {
	img {
		width: 100%;
	}
}

.info-bar {
	background-color: #ddbdef;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 !important;

	.info-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 135px;
		justify-content: center;
		text-align: center;
		font-size: 16px;

		span {
			font-size: 32px;
			color: #2f9a19;
		}
	}
}

.grid-div {
	width: 100%;
	padding: 15px 30px;

	.row-div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		height: 200px;

		.col-div {
			text-align: center;

			img {
				height: 200px;
				object-fit: cover;
				margin: 0 auto;
				border-radius: 15px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}