<app-header></app-header>

<ngb-carousel *ngIf="images" [interval]="3500">
	<ng-template ngbSlide *ngFor="let img of images">
		<div class="picsum-img-wrapper">
			<img [src]="img"/>
		</div>
		<div class="carousel-caption">
		</div>
	</ng-template>
</ngb-carousel>


<div class="grid-div">
	<div class="row-div" *ngIf="!userData.isLoggedIn || (userData.isLoggedIn && userData.isSwapper)">
		<div class="col-div">
			<img src="assets/home/publicaciones.jpg" (click)="goTo('publicaciones')">
		</div>
	</div>
	<div class="row-div">
		<div></div>
		<div class="col-div">
			<img src="assets/home/colectas.jpg" (click)="goTo('colectas')">
		</div>
	</div>
</div>

<div class="info-bar" [ngClass]="screenWidth < 576 ? 'small-bar' : 'big-bar'">
	<div class="info-div">
		<span class="material-icons-outlined">change_circle</span>
		Intercambiá con otros Swappers!
	</div>

	<div class="info-div">
		<span class="material-icons-outlined">volunteer_activism</span>
		Doná a fundaciones!
	</div>

	<div class="info-div">
		<span class="material-icons-outlined">local_shipping</span>
		Elegí enviar todos tus productos!
	</div>

	<div class="info-div">
		<span class="material-icons-outlined">payments</span>
		Pagá con Mercado Pago!
	</div>
</div>

<div class="grid-div">
	<div class="row-div" *ngIf="!userData.isLoggedIn || (userData.isLoggedIn && userData.isSwapper)">
		<div class="col-div">
			<img src="assets/home/publicar.png" (click)="goTo('form-publicacion', true)">
		</div>
	</div>
</div>
<!-- <mat-grid-list cols="2" rowHeight="200px" gutterSize="10px">
	<mat-grid-tile [colspan]="1" [rowspan]="1">
	</mat-grid-tile>
</mat-grid-list> -->