<div class="card-deck row" *ngIf="cardList.length > 0">
	<div *ngFor="let card of paginatedCardList"
	[class]="fullScreenWidth ? 'col-xs-12 col-sm-6 col-md-4' : 
	smallWidth ? 'col-lg-12 col-xl-6 col-xl-4' : 'col-xs-12 col-sm-6 col-md-12 col-lg-6 col-xl-4'">
		<app-card [cardData]="card" [app]="app" (statusChanged)="cardStatusChanged($event)"
		(cardSelected)="cardWasSelected($event)"></app-card>
	</div>
	<mat-paginator [hidePageSize]="true" [pageSize]="pageSize" [showFirstLastButtons]="true"
		[length]="cardList.length" #paginator (page)="changePage($event)"
		style="border-radius: 15px;" *ngIf="cardList.length > 0">
	</mat-paginator>
</div>
