<mat-card *ngIf="colecta && colecta.fundacionDTO"> <!-- && colecta.fundacionDTO.usuario -->
	<mat-card-header style="border-bottom: solid 1px var(--light-grey); padding-bottom: 10px;">
		<div class="div-header">
			<div class="header-info">
				<img mat-card-avatar class="example-header-image" [src]="'assets/perfiles/perfiles-'+colecta.fundacionDTO.usuarioDTO.avatar +'.jpg'">
				<div>
					<mat-card-title style="display: flex; align-items: center; flex-wrap: wrap;">
						<a [href]="'/perfil/'+colecta.fundacionDTO.usuarioDTO.idUsuario">{{colecta.fundacionDTO.nombre}}</a>
						<mat-icon class="address" (click)="showDireccion(colecta.fundacionDTO)" *ngIf="colecta.fundacionDTO && colecta.fundacionDTO.direcciones.length > 0">place</mat-icon>
						<mat-icon class="address" (click)="showContactInfo(colecta.fundacionDTO)" *ngIf="colecta.fundacionDTO">info</mat-icon>
					</mat-card-title>
					<mat-card-subtitle>
						<app-rating [puntuacion]="colecta.fundacionDTO.puntaje"
						color="var(--donaciones-dark)" [remSize]="1.2"></app-rating>
					</mat-card-subtitle>
				</div>
			</div>
			<div style="text-align: center;">{{parseVigencia()}}
				<!-- {{
				this.colecta.fechaInicio && this.colecta.fechaFin ? 'Desde el '(this.colecta.fechaInicio | date: 'dd/MM/yyyy') :
				this.colecta.fechaInicio ? () : ''
			}} --></div>
		</div>
	</mat-card-header>
	<mat-card-content class="card-content">
		<img mat-card-image [src]="colecta.imagen ? getImage(colecta.imagen) : 'assets/perfiles/perfiles-24.jpg'" class="colecta-img"
			(click)="zoomImage(colecta.imagen ? colecta.imagen.split('/').at(-1) : 'assets/perfiles/perfiles-24.jpg')">
		<div>
			<h2 class="card-title">{{colecta.titulo}}</h2>
			<div class="descripcion">
				{{colecta.descripcion}}
			</div>
			<div class="productos">
				<h4 style="margin-bottom: 0;"><u>Productos</u>:</h4>
				<div class="icons">
					<div></div>
					<span class="material-icons-outlined scheduled" matTooltip="Productos en camino">schedule_send</span>
					<span class="material-icons-outlined received" matTooltip="Productos recibidos">real_estate_agent</span>
					<span class="material-icons-outlined requested" matTooltip="Productos solicitados">add_home</span>
				</div>
				<div *ngFor="let producto of colecta.productos" class="producto">
					<!-- {{producto.descripcion}}: {{producto.cantidadRecibida}} -->
					<div>{{producto.descripcion}}</div>
					<div>{{producto.cantidadEnCamino}}</div>
					<div>{{producto.cantidadRecibida}}</div>
					<div>{{producto.cantidadSolicitada > 0 ? producto.cantidadSolicitada : 'Sin límite'}}</div>
				</div>
			</div>
		</div>
	</mat-card-content>
	<mat-card-actions class="card-button" *ngIf="!(userData.isLoggedIn && !userData.isSwapper)">
		<div class="envio">
			<h2 style="font-size: 16px; text-align: center;">Podés elegir enviarlo a la fundación con ShipNow, sin costo adicional!</h2>
		</div>
		<button mat-fab extended color="accent" (click)="donar()">QUIERO DONAR</button>
	</mat-card-actions>
</mat-card>
