<div class="card big" (click)="clicked(cardData)" *ngIf="cardData" [class.selected-card]="cardData.isSelected == true"
	[class.is-donacion]="cardData.codigo == 'Donación'">
	<mat-chip class="chip-localidad" [ngClass]="app == 'publicaciones' ? 'background-verde' : 'background-lila'">
		<span> {{cardData.usuario.localidad}} </span>
	</mat-chip>
	<div style="position: absolute; top: 10px; left: 10px; display: flex; flex-direction: column;">
		<span *ngIf="cardData.estado" class="material-icons-outlined result-icon"
			[ngClass]="cardData.codigo != 'Venta' ? colorMap[cardData.estado] || 'red' : 'green'" [matTooltip]=" cardData.codigo && cardData.codigo == 'Venta' ? 'VENDIDO' : cardData.codigo ? cardData.codigo+' '+cardData.estado :
			app == 'donaciones' ? 'Donación '+ cardData.estado : 'Trueque '+ cardData.estado">
			{{ cardData.codigo != 'Venta' ? iconMap[cardData.estado] || 'pending' : 'shopping_cart' }}
		</span>
		<span class="result-icon" style="font-size: 14px;" *ngIf="cardData.estado && screenWidth <= 500" [ngClass]="cardData.codigo != 'Venta' ? colorMap[cardData.estado] || 'red' : 'green'">
			{{cardData.codigo && cardData.codigo == 'Venta' ? 'VENDIDO' : cardData.estado}}</span>
	</div>
	<div class="img-div" style="display: flex; justify-content: center;">
		<img class="card-img" [src]="getImagen(cardData.imagen)">
	</div>
	<div class="card-body">
		<div class="body-data">
			<h3 class="card-title">{{cardData.titulo}}</h3>
			<div class="valor-principal">
				<h2 [ngClass]="app == 'publicaciones' ? 'font-verde' : 'font-lila'" style="max-width: 300px;">
					{{cardData.valorPrincipal}}
				</h2>
			</div>
			<div class="valor-secundario" *ngIf="cardData.valorSecundario">
				{{cardData.valorSecundario}}
			</div>
		</div>
	</div>

	<div class="buttons" *ngIf="cardData.buttons.length > 0">
		<button *ngFor="let button of cardData.buttons" mat-mini-fab [color]="button.color"
			[matTooltip]="button.name" matTooltipPosition="above" [style]="button.color == 'info' ? 'background-color: var(--info)' : button.color == 'opinion' ? 'background-color: var(--opiniones); color: white;' :''"
			(click)="buttonClicked(cardData, button); $event.stopPropagation()">
			<mat-icon>{{button.icon}}</mat-icon>
		</button>
	</div>

	<!-- DONACIONES -->
	<!-- {{cardData.estado}} || {{cardData.estadoAux}} || {{cardData.codigo}} -->
	<div *ngIf="cardData.codigo == 'Donación'" style="width: 100%;">
		<span *ngIf="cardData.estado == 'EN ESPERA' && isSwapper && idUserLoggedIn == cardData.usuario.id" class="llevar-donacion" >
			¡Llevá tu donación!
			<span class="material-icons-outlined" matTooltip="Cuando entregues la donación, la fundación podrá marcarla como RECIBIDA." >info</span>
		</span>
		<span *ngIf="cardData.estado == 'EN ENVIO' && !isSwapper" class="llevar-donacion" >
			¡En envío!
			<span class="material-icons-outlined" matTooltip="La donación está en proceso de envío.">info</span>
		</span>
		<span *ngIf="cardData.estado == 'APROBADA' && !isSwapper && !!cardData.estadoAux && cardData.estadoAux != 'RECIBIDO'" class="llevar-donacion" >
			{{cardData.estadoAux == 'POR_CONFIGURAR' ? '¡Envío pendiente!' :'¡En envío!'}}
			<span class="material-icons-outlined" [matTooltip]="cardData.estadoAux == 'POR_CONFIGURAR' ? 'El swapper debe configurar el envío. Te avisaremos cuando lo haga.' : 'El envío está activo. Shipnow buscará el producto en los próximos 2 días habiles, y luego te lo llevará.'">info</span>
		</span>
		<span *ngIf="!!cardData.estadoAux && cardData.estadoAux == 'RECIBIDO'" class="llevar-donacion">
			<span class="material-icons-outlined">done_all</span>
			¡Donación recibida!
		</span>
	</div>

	<div *ngIf="cardData.codigo != 'Donación'" style="width: 100%;">
		<span *ngIf="!!cardData.estadoAux && cardData.estadoAux != 'RECIBIDO' && cardData.codigo == 'Venta'" class="llevar-donacion">
			{{cardData.estadoAux == 'POR_CONFIGURAR' ? '¡Envío pendiente!' :'¡En envío!'}}
			<span class="material-icons-outlined"
			[matTooltip]="cardData.estadoAux == 'POR_CONFIGURAR' ? 'El swapper debe configurar el envío. Te avisaremos cuando lo haga.' : 'El envío está activo. Shipnow buscará tu producto en los próximos 2 días habiles, en el horario que configuraste.'" >info</span>
		</span>
	
		<span *ngIf="!!cardData.estadoAux && cardData.estadoAux == 'RECIBIDO'" class="llevar-donacion">
			<span class="material-icons-outlined">done_all</span>
			¡Producto recibido!
		</span>
	</div>

	<div class="user-data" [ngClass]="app == 'publicaciones' ? 'background-verde' : 'background-lila'">
		<img class="user-img" [src]="'assets/perfiles/perfiles-'+cardData.usuario.imagen+'.jpg'">
		<h4>
			<div class="name"><a [href]="'perfil/'+cardData.usuario.id">{{cardData.usuario.nombre}}</a></div>
			<div style="margin: 0 10px;display: flex;align-items: center;justify-content: center;">
				<app-rating [puntuacion]="cardData.usuario.puntaje"
					[color]="app == 'publicaciones' ? 'var(--trueques-dark)' : 'var(--donaciones-dark)'"></app-rating>

			</div>
		</h4>
		<div>
			<h6 *ngIf="cardData.fecha">{{cardData.fecha | date: 'dd/MM/yyyy' }}</h6>
			<h6 *ngIf="cardData.fechaString">{{cardData.fechaString }}</h6>
		</div>
	</div>

</div>