<div class="card" (click)="clicked(cardData)" *ngIf="cardData" [class.selected-card]="cardData.isSelected"
	[ngClass]="app == 'publicaciones' && cardData.buttons.length == 0 ? 'small' : 'big'"
	[class.is-donacion]="cardData.codigo == 'Donación'">
	<mat-chip class="chip-localidad" [ngClass]="app == 'publicaciones' ? 'background-verde' : 'background-lila'">
		<span> {{cardData.usuario.localidad}} </span>
	</mat-chip>
	<div style="position: absolute; top: 10px; left: 10px;">
		<span *ngIf="cardData.estado" class="material-icons-outlined result-icon"
			[ngClass]="colorMap[cardData.estado] || 'red'" [matTooltip]=" cardData.codigo ? cardData.codigo+' '+cardData.estado :
			app == 'donaciones' ? 'Donación '+ cardData.estado : 'Trueque '+ cardData.estado">
			{{ iconMap[cardData.estado] || 'dangerous' }}
		</span>
	</div>
	<div class="img-div" style="display: flex; justify-content: center;">
		<img class="card-img" [src]="getImagen(cardData.imagen)">
	</div>
	<div class="card-body">
		<div class="body-data">
			<h3 class="card-title">{{cardData.titulo}}</h3>
			<div class="valor-principal">
				<h2 [ngClass]="app == 'publicaciones' ? 'font-verde' : 'font-lila'" style="max-width: 300px;">
					{{cardData.valorPrincipal}}
				</h2>
			</div>
			<div class="valor-secundario" *ngIf="cardData.valorSecundario">
				{{cardData.valorSecundario}}
			</div>
		</div>
	</div>

	<div class="buttons" *ngIf="cardData.buttons.length > 0">
		<button *ngFor="let button of cardData.buttons" mat-mini-fab [color]="button.color"
			[matTooltip]="button.name" matTooltipPosition="above" [style]="button.color == 'info' ? 'background-color: var(--info)' :''"
			(click)="buttonClicked(cardData, button); $event.stopPropagation()">
			<mat-icon>{{button.icon}}</mat-icon>
		</button>
	</div> <!-- (button.status != 'RECIBIDO' && button.status != 'RECIBIDA') ? (cardData.estado != 'PENDIENTE' && button.status != 'INFO' && button.status != 'EN_ESPERA') : (cardData.estado != 'APROBADO' && cardData.estado != 'APROBADA') -->
	<span *ngIf="cardData.estado == 'EN_ESPERA' && isSwapper" class="llevar-donacion" >
		¡Llevá tu donación!
		<mat-icon matTooltip="Cuando entregues la donación, la fundación podrá marcarla como RECIBIDA." class="material-icons-outlined">info</mat-icon>
	</span>

	<div class="user-data" [ngClass]="app == 'publicaciones' ? 'background-verde' : 'background-lila'">
		<img class="user-img" [src]="'assets/perfiles/perfiles-'+cardData.usuario.imagen+'.jpg'">
		<h4>
			<div class="name"><a [href]="'perfil/'+cardData.usuario.id">{{cardData.usuario.nombre}}</a></div>
			<div style="margin: 0 10px;display: flex;align-items: center;justify-content: center;">
				<app-rating [puntuacion]="cardData.usuario.puntaje"
					[color]="app == 'publicaciones' ? 'var(--trueques-dark)' : 'var(--donaciones-dark)'"></app-rating>

			</div>
		</h4>
		<div>
			<h6 *ngIf="cardData.fecha">{{cardData.fecha | date: 'dd/MM/yyyy' }}</h6>
			<h6 *ngIf="cardData.fechaString">{{cardData.fechaString }}</h6>
		</div>
	</div>

</div>