ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10% 8%;
    gap: 5px;
}


ul li a{
    border-bottom: 1px solid #fff;
    color: #ffff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 11px 0px;
    font-size: large;
}

ul li:first-child a{
    border-top: 1px solid #fff;
    padding-top: 6%;
}
