#credenciales-form {
	display: flex;
    flex-direction: column;
    align-items: center;

	mat-form-field {
		width: 60%;

		mat-icon {
			font-size: 22px !important;
		}

		&.long-error {
			margin-bottom: 20%;
		}
	}

}
.buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;

	.confirm {
		background-color: var(--perfil);
		
	}
}

@media (min-width: 0px) and (max-width: 576px) {
	.buttons {
		flex-direction: column-reverse;
		margin-bottom: 20px;
	}
}