
<div class="header">
	<span style="width: 30px;"></span>
	<span>Cambiar Contraseña</span>
	<mat-icon (click)="dialogRef.close()" style="margin-left: 10px; cursor: pointer;">close</mat-icon>
</div>
<div style="display: flex; justify-content: center;">
	<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
</div>
<div *ngIf="!loading">
	<form [formGroup]="passwordForm" id="credenciales-form" class="dense-3">
		<mat-form-field appearance="outline">
			<mat-label>Contraseña Actual</mat-label>
			<input matInput formControlName="currentPassword" [type]="passwordType">
			<mat-icon matSuffix (click)="togglePassword()" class="eye">{{passwordIcon}}</mat-icon>
		</mat-form-field>
		<mat-form-field [class.long-error]="passwordForm.get('newPassword')!.hasError('pattern') && showError" appearance="outline">
			<mat-label>Nueva Contraseña</mat-label>
			<input matInput formControlName="newPassword" [type]="passwordType" (blur)="showError = true">
			<mat-icon matSuffix (click)="togglePassword()" class="eye">{{passwordIcon}}</mat-icon>
			<mat-error *ngIf="passwordForm.get('newPassword')!.hasError('required')">
				Campo obligatorio
			</mat-error>
			<mat-error
				*ngIf="passwordForm.get('newPassword')!.hasError('differentPassword') && !passwordForm.get('newPassword')!.hasError('pattern')">
				Las contraseñas no coinciden
			</mat-error>
			<mat-error *ngIf="passwordForm.get('newPassword')!.hasError('pattern')">
				Debe tener de 8 a 32 caracteres y al menos 1 minúscula, 1 mayúscula, 1
				número y 1 caracter especial.
			</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Confirmar Nueva Contraseña</mat-label>
			<input matInput formControlName="confirmNewPassword" [type]="passwordType">
			<mat-icon matSuffix (click)="togglePassword()" class="eye">{{passwordIcon}}</mat-icon>
			<mat-error *ngIf="passwordForm.get('confirmNewPassword')!.hasError('required')">
				Campo obligatorio
			</mat-error>
			<mat-error *ngIf="passwordForm.get('confirmNewPassword')!.hasError('differentPassword')">
				Las contraseñas no coinciden
			</mat-error>
		</mat-form-field>
	</form>
	<div class="buttons">
		<button mat-fab extended color="light" (click)="dialogRef.close()">CANCELAR</button>
		<button mat-fab extended class="confirm" [disabled]="!passwordForm.valid || loadingSave" (click)="savePassword()">
			<span>GUARDAR</span>
		</button>
		<mat-spinner diameter="20" *ngIf="loadingSave"></mat-spinner>
	</div>
</div>