
<div id="main-credenciales-mp">
	<div style="margin: 20px;">
		<h2>Configurá tus credenciales de Mercado Pago!</h2>
	</div>
</div>
<div style="display: flex; justify-content: center;">
	<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
</div>
<div *ngIf="!loading">
	<form [formGroup]="credencialesForm" id="credenciales-form">
		<mat-form-field>
			<mat-label>Public Key</mat-label>
			<input matInput formControlName="publicKey">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Access Token</mat-label>
			<input matInput formControlName="accessToken">
		</mat-form-field>
	</form>
	<div class="buttons">
		<button mat-fab extended color="light" (click)="dialogRef.close()">CANCELAR</button>
		<button mat-fab extended class="confirm" [disabled]="loadingSave" (click)="saveCredenciales()">
			<span>CONFIRMAR</span>
		</button>
		<mat-spinner diameter="20" *ngIf="loadingSave"></mat-spinner>
	</div>
</div>