.header {
	text-align: center;
	margin: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--light-grey);
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#main-credenciales-mp {
	margin: 0 10px 15px;
    display: flex;
    justify-content: center;

	mat-icon {
		margin-bottom: 0px;
		height: 36px;
		width: 36px;
		font-size: 36px;
		color: #3fb6e9;
		cursor: pointer;
	}
}

#credenciales-form {
	display: flex;
    flex-direction: column;
    align-items: center;

	mat-form-field {
		width: 70%;
	}

}
.buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	margin: 10px 20px 30px;

	.confirm {
		background-color: #3fb6e9;
		color: white;
	}
}

@media (min-width: 0px) and (max-width: 576px) {
	.buttons {
		flex-direction: column-reverse;
		margin-bottom: 20px;
	}
}