#main-credenciales-mp {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

	mat-icon {
		margin-bottom: 0px;
		height: 36px;
		width: 36px;
		font-size: 36px;
		color: #3fb6e9;
		cursor: pointer;
	}
}

#credenciales-form {
	display: flex;
    flex-direction: column;
    align-items: center;

	mat-form-field {
		width: 70%;
	}

}
.buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;

	.confirm {
		background-color: #3fb6e9;
		color: white;
	}
}

@media (min-width: 0px) and (max-width: 576px) {
	.buttons {
		flex-direction: column-reverse;
		margin-bottom: 20px;
	}
}