<mat-toolbar class="header-container">
	<mat-toolbar-row class="top-header">
		<div class="div-logo">
			<img style="cursor: pointer; width: 100px;" alt="Logo Eco Swap - Ir a la home" id="logoCenter" class="logo"
				src="assets/logo_white.png" />
		</div>
		<div>
			<mat-form-field>
				<input matInput placeholder="Buscá lo que quieras trocar o donar...">
			</mat-form-field>
		</div>
		<div id="recycling-icon" class="filler-div">
			<mat-icon>recycling</mat-icon>
		</div>
	</mat-toolbar-row>
  
	<mat-toolbar-row class="tabs">
		<div class="filler-div"><mat-icon>compost</mat-icon></div>
		<div>
			<button mat-button *ngFor="let tab of mainTabs" (click)="goTo(tab.path)">{{tab.title}}</button>
		</div>
		<div class="personal-buttons">
			<button mat-button *ngFor="let tab of personalTabs" (click)="goTo(tab.path)">{{tab.title}}</button>
		</div>

	</mat-toolbar-row>
</mat-toolbar>



<!-- <header>
	<div class="header-container">
		<div>
			<!-- <button type="button" id="sidebarButton">
				<mat-icon>menu</mat-icon>
			</button> 
			<div class="div-logo">
				<img style="cursor: pointer; width: 40px;" alt="Logo Image - Go to home page" id="logoCenter" class="logo"
					src="assets/favicon.ico" />
			</div>
		</div>
		<div>
			<mat-tab-group>
				<mat-tab label="First"> Content 1 </mat-tab>
				<mat-tab label="Second"> Content 2 </mat-tab>
				<mat-tab label="Third"> Content 3 </mat-tab>
			  </mat-tab-group>
		</div>
	
		<div>
			<button mat-button [matMenuTriggerFor]="menu">
	
				<div id="userInfo">
					<div style="display: flex; flex-direction: column; align-items: flex-end;">
						<p><b>ECO SWAP</b></p>
						<!-- <p>{{ userName }}</p> 
					</div>
					<!-- <img class="userImg" src="assets/images/user.png" *ngIf="!hasPhoto" />
					<img class="userImg2" [src]="imgUser" *ngIf="hasPhoto" /> 
				</div>
			</button>
	
			<mat-menu #menu="matMenu" xPosition="before">
				<!-- <button mat-menu-item (click)="goToProfile()">
					Profile
					<mat-icon id="profileIcon">person_outline</mat-icon>
				</button>
				<button mat-menu-item id="logout" (click)="logout()">
					Log Out
					<mat-icon id="logoutIcon">logout</mat-icon>
				</button> 
			</mat-menu>
		</div>

	</div>
</header> -->