.header-container{
	background-color: var(--primary-color);
	.top-header{
		display: flex;
		justify-content: space-between;
		.div-logo {
			display: flex;
			justify-content: flex-start;
			padding: 10px;
		}
		mat-form-field {
			width: 100%;
			margin-top: 24px;
			background-color: var(--primary-color);
		}
		::ng-deep.mat-form-field{
			background-color: var(--primary-color) !important;
		}
		#recycling-icon {
			color: white;
			display: flex;
			justify-content: flex-end;
		}
	}
	.tabs {
		justify-content: space-between;
		mat-icon {
			color: white;
		}
		.personal-buttons {
			color: white;
			display: flex;
			justify-content: flex-end;
		}
	}
}

/* .filler-div {
	width: 50px;
} */
mat-toolbar-row div {
	min-width: 30%;
}

.navbar {
	background-color: var(--primary-color);

	.navbar-brand {
		margin-left: 20px;
	}

	.navbar-toggler {
		margin-right: 20px;
	}

	.navbar-collapse {
		.navbar-nav {
			.nav-item {
				.nav-white {
					color: var(--white);
				}

				.dropdown {
					margin-right: 20px;

				}
				.dropdown-item:hover {
					cursor: pointer;
				}
				.dropdown-menu {
					background-color: var(--primary-color);
					border: none;
					box-shadow: 2px 2px 4px 0px #007707;
					left: -75px;
					right: 5px;
					top: 56px;
				}
			}

			.nav-link {
				cursor: pointer;
			}
		}
	}
}