<nav class="navbar navbar-expand-md d-flex justify-content-between">
	<a class="navbar-brand" href="home">
		<div class="div-logo" (click)="goTo('home')">
			<img style="cursor: pointer; width: 100px;" alt="Logo Eco Swap - Ir a la home" id="logoCenter" class="logo"
				src="assets/logo_white_small.png" />
		</div>
	</a>
	<!-- boton de menu hamburguesa para responsive -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
		aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarToggler" *ngIf="url != '/registro'">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link nav-white px-2" href="/home">
					Home
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-white px-2" *ngIf="!(isUserLoggedIn && this.profileType == 'fundacion')" href="/publicaciones">
					Publicaciones
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-white px-2" href="/colectas">
					Colectas
				</a>
			</li>
		</ul>
	</div>
	<div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0 mr-2">
			<li class="nav-item" style="display: flex; align-items: center;">
				<a class="nav-link nav-white " href="/notificaciones">
					<span class="material-symbols-rounded" style="margin: 5px 10px;"
					[matBadge]="notifications > 0 ? notifications : undefined" matBadgeColor="warn">
						notifications
					</span>
				</a>
			</li>
			<div ngbDropdown class="dropdown nav-item">
				<div ngbDropdownToggle class="nav-link nav-white px-2" type="button" id="dropdownMenuButton1" aria-expanded="false">
					<img *ngIf="userData" [src]="'assets/perfiles/perfiles-'+userData.avatar+'.jpg'">
					Mi Cuenta
				</div>
				<ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" class="dropdown-menu-end">
					<mat-icon class="arrow-top">eject</mat-icon>			
					<li><a [href]="'/mi-perfil'" ngbDropdownItem class="dropdown-item" *ngIf="isUserLoggedIn && userData && this.profileType == 'particular'">
						<p class="name" >{{userData.particularDTO.nombre}} {{userData.particularDTO.apellido}}</p>
						<p style="margin: 0; font-size: 12px;">Ir a mi perfil ></p>
					</a></li>
					<li><a [href]="'/mi-perfil'" ngbDropdownItem class="dropdown-item" *ngIf="isUserLoggedIn && userData && this.profileType == 'fundacion'">
						<p class="name">{{userData.fundacionDTO.nombre}}</p>
						<p style="margin: 0; font-size: 12px;">Ir a mi perfil ></p>
					</a></li>
					<div *ngIf="isUserLoggedIn" style="border-bottom: 1px solid #9fe27a; margin: 10px;"></div>

					<li><a ngbDropdownItem href="/mis-donaciones/" class="dropdown-item" *ngIf="isUserLoggedIn && this.profileType == 'particular'">
						Mis donaciones
					</a></li>
					<li><a ngbDropdownItem href="/mis-publicaciones/" class="dropdown-item" *ngIf="isUserLoggedIn && this.profileType == 'particular'">
						Mis publicaciones
					</a></li>
					<li><a ngbDropdownItem href="/mis-compras/" class="dropdown-item" *ngIf="isUserLoggedIn && this.profileType == 'particular'">
						Mis compras
					</a></li>

					<li><a ngbDropdownItem href="/mis-colectas/" class="dropdown-item" *ngIf="isUserLoggedIn && this.profileType == 'fundacion'">
						Mis colectas
					</a></li>

					<div *ngIf="isUserLoggedIn" style="border-bottom: 1px solid #9fe27a; margin: 10px;"></div>
					
					<li><a ngbDropdownItem [href]="'/registro'" class="dropdown-item" *ngIf="!isUserLoggedIn">
						Crear Cuenta
					</a></li>
					<li><a ngbDropdownItem [href]="'/login'" class="dropdown-item" *ngIf="!isUserLoggedIn">
						Iniciar Sesión
					</a></li>
					<!-- <li><a ngbDropdownItem [href]="'/mi-perfil'" class="dropdown-item" *ngIf="isUserLoggedIn">
						Mi perfil
					</a></li> -->
					<li><a ngbDropdownItem (click)="logOut()" class="dropdown-item" *ngIf="isUserLoggedIn">
						Cerrar Sesión
					</a></li>

				</ul>
			  </div>
		</ul>
	</div>
</nav>
<h3 style="margin: 20px 0px 0px 8%; font-weight: bold;">{{title}}</h3>