<div class="header">
	<span style="width: 30px;"></span>
	<span>Elegí tu ávatar</span>
	<mat-icon (click)="dialogRef.close()" style="margin-left: 10px; cursor: pointer;">close</mat-icon>
</div>
<div *ngIf="loading" style="display: flex; justify-content: center; margin-bottom: 60px;">
	<mat-spinner diameter="20"></mat-spinner>
</div>
<div *ngIf="!loading">
	<div class="image-gallery">
		<img class="image" *ngFor="let image of images" (click)="selectImage(image.id)"
		[src]="image.name" [alt]="image.name"
		[ngClass]="image.id == selectedImage ? 'selected':''"/>
	</div>
	<div class="buttons">
		<button mat-fab extended color="light" (click)="close()">CANCELAR</button>
		<button mat-fab extended color="primary" (click)="confirm()" [disabled]="!selectedImage || loadingSave">GUARDAR</button>
		<mat-spinner diameter="20" *ngIf="loadingSave"></mat-spinner>
	</div>
</div>