.example-header-image {
	//background-image: url('../../../../assets/perfiles/perfiles-17.jpg');
	//background-size: cover;
	margin: 0 10px 0 0;
	width: 60px;
	height: 60px;
}

mat-card {
	border-radius: 15px;

	mat-card-header, mat-card-content, mat-card-actions {
		margin: 10px;
	}

	mat-card-actions {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
    	justify-content: center;
		margin: 20px !important;
	}

	* {
		max-width: 100%;
	}
}

.div-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;

	.header-info {
		display: flex;
		align-items: center;

		a {
			text-decoration: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-wrap: balance;
		}

	}
}

.card-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	.imagenes {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		img {
			height: 100px;
			margin: 5px;
			border-radius: 5px;
			box-shadow: 2px 2px 5px var(--dark-grey);

			&:hover {
				cursor: pointer;
			}
		}
	}

	.descripcion {
		font-weight: 500;
		font-size: 16px;
		margin-bottom: 15px;
	}

	.trueque, .venta {
		font-size: 16px;
		h2 {
			font-weight: bold;

		}
	}

	.caracteristicas {
		margin-top: 20px;
	}
}

.card-button {
	align-self: center;

	/* .buttons {
		display: flex;
	} */
} 

@media (min-width: 0px) and (max-width: 576px) {
	.card-content {
		grid-template-columns: 1fr !important;
	}
}

@media (min-width: 0px) and (max-width: 800px) {
	.div-fecha-zona {
		display: flex;
		gap: 10%;
		width: 100%;
		justify-content: space-around;
	}

	.header-info a {
		max-width: 80%;
	}
}

@media (min-width: 801px) {
	.div-fecha-zona {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.header-info a {
		max-width: 420px;
}
}