<app-header title="Notificaciones" [refresh]="refreshHeader"></app-header>

<div style="display: flex; justify-content: center;">
	<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
</div>

<div id="main-notificaciones" class="app-main-div" *ngIf="!loading">
	<div class="buttons">
		<button mat-fab extended [disabled]="selectedNotifications.length == 0 || loadingSave"
		(click)="leerNotificaciones()">
			MARCAR COMO LEÍDO
		</button>
		<div style="width: 25px;">
			<mat-spinner diameter="25" *ngIf="loadingSave"></mat-spinner>
		</div>
	</div>
	<mat-nav-list style="gap: 10px; display: flex; flex-direction: column;">
		<ng-container *ngFor="let item of paginatedNotifications; let even = even; let odd = odd">
			<mat-list-item [ngClass]="{ 'even-row': even, 'odd-row': odd }" (mouseenter)="hoveredItem = item"
				(mouseleave)="hoveredItem = null" style="border-radius: 15px;"
				[style.background-color]="item.estadoNotificacion == 'LEIDO' ? 'inherit' : 'white'">
				<mat-icon matListItemIcon [ngClass]="item.tipoNotificacion == 'TRUEQUE' || item.tipoNotificacion == 'NUEVO_ESTADO_TRUEQUE' ? 'primary' : 'secondary' ">{{item.estadoNotificacion == 'LEIDO' ? 'drafts' : 'email'}}</mat-icon>
				<div class="item-content">
					<div (click)="access(item)" style="width: 100%;">
						<h4>{{item.titulo}}</h4>
						<p>{{item.mensaje}}</p>
					</div>
					<div (click)="access(item)" style="min-height: 70px; display: flex; align-items: center;">
						<p>{{item.fechaHoraNotificacion | date: 'dd/MM/yyyy'}}</p>
					</div>
					<div style="min-width: 30px;">
						<mat-checkbox (change)="selectNotification($event, item);" *ngIf="item.estadoNotificacion == 'NO_LEIDO'"
						[color]="item.tipoNotificacion == 'TRUEQUE' || item.tipoNotificacion == 'NUEVO_ESTADO_TRUEQUE' ? 'primary' : 'secondary' "></mat-checkbox>
					</div>
				</div>
			</mat-list-item>
		</ng-container>
	</mat-nav-list>
	<!-- 
		<mat-selection-list #shoes>
		<mat-list-option *ngFor="let item of paginatedNotifications; let even = even; let odd = odd"
		[ngClass]="{ 'even-row': even, 'odd-row': odd }" (mouseenter)="hoveredItem = item"
		(mouseleave)="hoveredItem = null" (click)="access(item)">
		<div class="item-content">
			<div>
				<h4>{{item.titulo}}</h4>
				<p>{{item.mensaje}}</p>
			</div>
		</div>
		</mat-list-option>
	  </mat-selection-list>
	 -->
	<mat-paginator [pageSize]="pageSize" [showFirstLastButtons]="true" [length]="notifications.length" #paginator
		(page)="changePage($event)" style="border-radius: 15px;" *ngIf="notifications.length > 0" [hidePageSize]="true">
	</mat-paginator>
	<!-- <mat-list>
		<mat-list-item>
		  <span matListItemTitle>Title</span>
		  <span matListItemLine>Second line</span>
		  <mat-icon matListItemIcon slot="end">folder</mat-icon>
		</mat-list-item>
		<mat-list-item>
		  <span matListItemTitle>Title</span>
		  <span>Second line</span>
		</mat-list-item>
		<mat-list-item>
		  <span matListItemTitle>Title</span>
		  Second line
		</mat-list-item>
	  </mat-list> -->
	<!-- <mat-list class="example-list-wrapping">
		<mat-list-item lines="3">
		  <span matListItemTitle>Title</span>
		  <span style="    display: flex;  align-items: center;">
			Secondary line that will wrap because the list lines is explicitly set to 3 lines. Text
			inside of a `matListItemTitle` or `matListItemLine` will never wrap.
			<button mat-fab extended><mat-icon>add</mat-icon>Go</button>
		  </span>
		</mat-list-item>
		<mat-list-item lines="3">
		  <span matListItemTitle>Title</span>
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
		  laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
		  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
		  non proident, sunt in culpa qui officia deserunt mollit anim id est
		</mat-list-item>
	  </mat-list> -->
</div>