#main-container {
	padding: 2%;

	#main-card {
		width: 80%;
		margin: 2% auto;
	
		.form {
			display: grid;
			align-items: center;
			margin-top: 20px;
			grid-template-columns: 1fr 1fr;
			row-gap: 10px;
			column-gap: 5px;
			justify-items: center;
	
			.form-input {
				display: flex;
				justify-content: center;
				width: 80%;

				mat-form-field {
					width: 100%;

				}

				.eye:hover {
					cursor: pointer;
				}
			}
		}
	
		.buttons {
			display: flex;
			justify-content: center;
		}
	}
}

@media (min-width: 0px) and (max-width: 768px) {
	.form {
		grid-template-columns: 1fr !important;
		row-gap: 10px !important;
		column-gap: 5px !important;
	}
}