#main-card {
	width: 80%;
    margin: 2% auto;

	.form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		row-gap: 10px;
		column-gap: 5%;

		.form-input {
			display: flex;
			justify-content: center;
		}
	}

	.buttons {
		display: flex;
		justify-content: center;
	}
}