<app-header url="registro"></app-header>

<mat-card id="main-card">
	<mat-card-header>
		<mat-card-title>Registrate!</mat-card-title>
		<mat-card-subtitle>Completá tus datos para crear tu cuenta</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="registroForm" class="form">
			<div class="form-input">
				<mat-form-field>
					<mat-label>Email</mat-label>
					<input matInput formControlName="s_email">
				</mat-form-field>

			</div>
			<div class="form-input">
				<mat-form-field>
					<mat-label>Usuario</mat-label>
					<input matInput formControlName="s_usuario">
				</mat-form-field>

			</div>
			<div [hidden]="!isSwapper" class="form-input">
				<mat-form-field>
					<mat-label>Nombre</mat-label>
					<input matInput formControlName="s_nombre">
				</mat-form-field>

			</div>
			<div [hidden]="!isSwapper" class="form-input">
				<mat-form-field>
					<mat-label>Apellido</mat-label>
					<input matInput formControlName="s_apellido">
				</mat-form-field>

			</div>
			<div [hidden]="!isSwapper" class="form-input">
				<mat-form-field>
					<mat-label>Fecha de Nacimiento</mat-label>
					<input matInput formControlName="f_nacimiento">
				</mat-form-field>

			</div>
			<div [hidden]="isSwapper" class="form-input">
				<mat-form-field>
					<mat-label>Razón Social</mat-label>
					<input matInput formControlName="s_razon_social">
				</mat-form-field>

			</div>
		</form>
	</mat-card-content>
	<mat-card-actions class="buttons"> 
		<button mat-raised-button (click)="crearCuenta()" color="primary">CREAR CUENTA</button>
	</mat-card-actions>
</mat-card>