.donacion-example-header-image {
	background-image: url('../../../assets/fundacion.png');
	background-size: cover;
}
.donacion-card-content {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 1rem;
	padding: 16px;

	.donacion-aceptada {
		font-weight: bold;
		color: var(--primary-color);
	}
	.donacion-rechazada {
		font-weight: bold;
		color: var(--warn-color);
	}

	.imagenes {
		img {
			height: 65px;
			margin: 5px;
			&:hover {
				cursor: pointer;
			}
		}
	}

	.donacion-status {
		display: flex;
		align-items: center;

		mat-slide-toggle {
			margin: 5px;
		}
	}

}
