<app-header [title]="isMyColectas ? 'Mis Colectas' : 'Colectas'"></app-header>

<div id="main-donaciones">
	<div class="row">
		<form [formGroup]="formFiltros" id="form-filtros" *ngIf="!isMyColectas"> 
			<mat-form-field class="example-full-width" appearance="outline">
				<mat-label>Fundación</mat-label>
				<input type="text" matInput formControlName="fundacion" [matAutocomplete]="auto" style="border: 1px solid red">
				<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
				<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
					{{option.nombre}}
				</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Código Postal</mat-label>
				<input matInput formControlName="codigoPostal" type="number">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Tipo del Producto</mat-label>
				<mat-select formControlName="tipoProducto" panelClass="example-panel">
					<mat-option *ngFor="let tipo of tipos_productos" [value]="tipo.nombre">
						{{tipo.descripcion}}
					</mat-option>
				</mat-select>
				<!-- <input matInput formControlName="tipoProducto"> -->
			</mat-form-field>
			<div style="text-align: center;">
				<button mat-raised-button color="primary" (click)="filtrarColectas()">FILTRAR</button>
				<button mat-raised-button (click)="limpiarFiltros()">LIMPIAR</button>
			</div>
		</form>
	</div>
	<app-spinner [loading]="loading"></app-spinner>
	<div class="row" *ngIf="!loading">
		<div *ngIf="showColectas.length==0" style="text-align: center;">No hay colectas para mostrar</div>
		<div><!-- class="col-lg-6" -->
			<div class="card-deck">
				<div class="card row" *ngFor="let colecta of showColectas" (click)="goToColecta(colecta)">
					<div class="col-sm-4" style="display: flex; justify-content: center;">
						<img class="card-img" [src]="colecta.imagen ? colecta.imagen : 'assets/fundacion.png'">
					</div>
					<div class="card-body col-sm-6">
						<h2 class="card-title">{{colecta.titulo}}</h2>
						<div class="productos">
							<div *ngFor="let producto of colecta.productos" class="producto">
								{{producto.descripcion}}
								<!-- <p><ngb-progressbar color="primary"
										[value]="producto.cantidadRecibida*100/producto.cantidadSolicitada"
										[striped]="true"></ngb-progressbar></p> -->
							</div>

						</div>
					</div>
					<div class="card-fundacion col-sm-2">
						<img class="img-fundacion" src="assets/fundacion.png">
						<!-- TODO: CHANGE TO IMAGE DE LA FUNDACION  -->
						<h4>{{colecta.fundacionDTO.nombre}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="floating-button-container" *ngIf="!userData.isSwapper">
		<button mat-fab color="primary" aria-label="Agregar Colecta" (click)="addColecta()">
			<mat-icon>add</mat-icon>
		</button>
	</div>
</div>