<app-header [title]="idFundacion ? 'Mis Colectas' : 'Colectas'"></app-header>

<div id="main-donaciones">
	<app-spinner [loading]="loading"></app-spinner>
	<div class="row" *ngIf="!loading">
		<div *ngIf="showColectas.length==0" style="text-align: center;">No hay colectas para mostrar</div>
		<div><!-- class="col-lg-6" -->
			<div class="card-deck">
				<div class="card row" *ngFor="let colecta of showColectas" (click)="goToColecta(colecta)">
					<div class="col-sm-4" style="display: flex; justify-content: center;">
						<img class="card-img" [src]="colecta.imagen ? colecta.imagen : 'assets/fundacion.png'">
					</div>
					<div class="card-body col-sm-6">
						<h2 class="card-title">{{colecta.titulo}}</h2>
						<div class="productos">
							<div *ngFor="let producto of colecta.productos" class="producto">
								{{producto.descripcion}}
								<p><ngb-progressbar color="primary"
										[value]="producto.cantidadRecibida*100/producto.cantidadSolicitada"
										[striped]="true"></ngb-progressbar></p>
							</div>

						</div>
					</div>
					<div class="card-fundacion col-sm-2">
						<img class="img-fundacion" src="assets/fundacion.png">
						<!-- TODO: CHANGE TO IMAGE DE LA FUNDACION  -->
						<h4>{{colecta.fundacion}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="floating-button-container" *ngIf="!userData.isSwapper">
		<button mat-fab color="primary" aria-label="Agregar Colecta de donación" (click)="addColecta()">
			<mat-icon>add</mat-icon>
		</button>
	</div>
</div>