<app-header></app-header>

<div id="main-publicacion" class="app-main-div">
	<app-spinner [loading]="loading"></app-spinner>

	<mat-card *ngIf="!loading && publicacion">
		<mat-card-header style="border-bottom: solid 1px var(--light-grey); padding-bottom: 10px;">
			<div class="div-header">
				<div class="header-info">
					<div mat-card-avatar class="example-header-image"></div>
					<div>
						<mat-card-title style="display: flex; align-items: center;">
							{{publicacion.particularDTO.nombre}} {{publicacion.particularDTO.apellido}}
							<!-- <mat-icon class="address" (click)="showDireccion(publicacion.fundacion.usuario)">place</mat-icon> -->
						</mat-card-title>
						<mat-card-subtitle>
							<mat-icon *ngFor="let i of [].constructor(publicacion.particularDTO.puntaje || 0)" color="primary">star</mat-icon>
							<mat-icon *ngFor="let i of [].constructor(5-(publicacion.particularDTO.puntaje || 0))"
								class="empty-star">star</mat-icon>
						</mat-card-subtitle>
					</div>
				</div>
				<div>{{publicacion.fechaPublicacion | date: 'dd/MM/yyyy'}}</div>
			</div>
		</mat-card-header>
		<mat-card-content class="card-content">
			<div class="imagenes">
				<img [src]="getImage(img)" *ngFor="let img of publicacion.parsedImagenes" (click)="zoomImage(img)" />
			</div>
			<div>
				<h2 class="card-title">{{publicacion.titulo}}</h2>
				<div class="descripcion">
					{{publicacion.descripcion}}
				</div>
				<div class="trueque">
					Valor de trueque: ${{publicacion.valorTruequeMin}} - ${{publicacion.valorTruequeMax}} 
				</div>
				<div class="venta" *ngIf="publicacion.tipoPublicacion == 'VENTA_Y_TRUEQUE'">
					Precio de venta: ${{publicacion.precioVenta}}
				</div>
				<div class="caracteristicas">
					<b>Características:</b>
					<div *ngFor="let caract of publicacion.caracteristicaProducto" class="producto">
						{{caract.caracteristica}}
					</div>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions class="card-button" *ngIf="showButtons">
			<button mat-fab extended color="primary" (click)="intercambiar()">QUIERO INTERCAMBIAR</button>
			<button mat-fab extended color="accent" (click)="comprar()" *ngIf="publicacion.tipoPublicacion == 'VENTA_Y_TRUEQUE'">QUIERO COMPRAR</button>
		</mat-card-actions>
	</mat-card>

	<h3 style="margin: 20px 0 0 5px; font-weight: bold;">
		{{this.userType == 'publicacionPropuesta' ? 'Mi propuesta' : 'Propuestas de intercambio'}}
	</h3>
	<div *ngIf="publicacionesToShow.length == 0 && !loading" style="text-align: center;">Esta publicación no tiene propuestas aún!</div>
	<app-deck-publicaciones *ngIf="publicacionesToShow.length > 0" [publicacionesToShow]="publicacionesToShow"
		origin="propuestas"
		[buttons]="this.userType == 'publicacionPropuesta' ? 
			[{name: 'cancelar', icon: 'close', color: 'warn', status: 'CANCELADO'}]
			: [
				{name: 'aceptar', icon: 'check', color: 'primary', status: 'APROBADO'},
				{name: 'rechazar', icon: 'close', color: 'warn', status: 'RECHAZADO'},
				{name: 'recibida', icon: 'done_all', color: 'primary', status: 'RECIBIDO'},
			]" (changeStatus)="changeStatusTrueque($event)"></app-deck-publicaciones>
			
</div>