#main-publicacion {
	padding: 2%;

	.accordion {
		padding: 10px 0;

		.accordion-item {
			border-radius: 10px;
			box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

			.accordion-header {
				margin: 0;

				.accordion-header-button {
					height: 40px;
					font-size: 14px;
					padding: 10px;
					display: flex;
					justify-content: space-between;

					.open-chat {
						background-color: var(--info);
					}
				}
			}

			.accordion-body {
				//max-height: 340px;
				scrollbar-color: #888 #f1f1f1; // Firefox scrollbar styling
				scrollbar-width: thin;

				::-webkit-scrollbar {
					width: 5px; // width of the vertical scrollbar
				}
				
				::-webkit-scrollbar-thumb {
				background: #888; // color of the scrollbar thumb
				border-radius: 5px;
				}
				
				::-webkit-scrollbar-thumb:hover {
				background: #555; // color of the scrollbar thumb on hover
				}
				
				::-webkit-scrollbar-track {
				background: #f1f1f1; // color of the track
				border-radius: 5px;
				}
			}

			#chatContainer {
				scroll-behavior: smooth;
			}

			.mensaje {
				padding: 10px;
				border-radius: 15px;
				//width: 90%;
				position: relative;
				margin: 10px 5px 25px;
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				&.mio {
					background: var(--primary-color);
					.arrow-globo {
						right: 0px;
						bottom: -25px;
						color: var(--primary-color);
					}
				}

				&.otro {
					background-color: var(--light-grey);
					* {text-align: left;}
					.arrow-globo {
						left: 0px;
						bottom: -25px;
						color: var(--light-grey);
					}
				}

				.arrow-globo {
					position: absolute;
					font-size: 45px;
					width: 45px;
					height: 45px;
				}
			}
		}
	}

	h3 {
		font-size: 18px;
	}

	.main-row {
		//padding: 2%;
		display: grid;
		grid-template-columns: 1fr 5fr;
		gap: 20px;
	}

	.row { 
		.half-card {
			max-width: 60%;
		}
		.half-deck {
			max-width: 40%;
		}

		.swap-icon {
			font-size: 45px;
			width: 45px;
			height: 45px;
			color: var(--primary-color);
		}
	}

	.donacion-example-header-image {
		background-image: url('../../../assets/perfiles/perfiles-17.jpg');
		background-size: cover;
	}
	.donacion-card-content {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;//1fr 2fr 1fr;
		gap: 1rem;

		.imagenes {
			img {
				height: 65px;
    			margin: 5px;
				border-radius: 5px;
				box-shadow: 2px 2px 5px var(--dark-grey);
			}
		}

		.donacion-status {
			display: flex;
			flex-direction: column;

			button {
				margin: 5px auto;
				width: 150px;
			}
		}

		.aprobada {
			color: var(--success);
			font-weight: 500;
		}
		.rechazada {
			color: var(--warn);
		}
	}
}

@media (min-width: 0px) and (max-width: 576px) {
	.card-content {
		display: grid;
		grid-template-columns: 1fr !important;
	}

	.donacion-card-content {
		display: grid;
		grid-template-columns: 1fr !important;
	}

	.main-row {
		grid-template-columns: 1fr !important;
	}
}

@media (min-width: 768px) {
	.accordion-button::after {
		display: none;
	}
}

