#main-publicacion {
	padding: 2%;

	.row { 
		.half-card {
			max-width: 60%;
		}
		.half-deck {
			max-width: 40%;
		}
	}

	.donacion-example-header-image {
		background-image: url('../../../assets/perfiles/perfiles-17.jpg');
		background-size: cover;
	}
	.donacion-card-content {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;//1fr 2fr 1fr;
		gap: 1rem;

		.imagenes {
			img {
				height: 65px;
    			margin: 5px;
				border-radius: 5px;
				box-shadow: 2px 2px 5px var(--dark-grey);
			}
		}

		.donacion-status {
			display: flex;
			flex-direction: column;

			button {
				margin: 5px auto;
				width: 150px;
			}
		}

		.aprobada {
			color: var(--success);
			font-weight: 500;
		}
		.rechazada {
			color: var(--warn);
		}
	}
}

@media (min-width: 0px) and (max-width: 576px) {
	.card-content {
		display: grid;
		grid-template-columns: 1fr !important;
	}

	.donacion-card-content {
		display: grid;
		grid-template-columns: 1fr !important;
	}
}