<app-header></app-header>

<div id="main-publicacion" class="app-main-div" (mouseover)="this.initChat == 0 ? scrollToBottom() : ''">
	<app-spinner [loading]="loading"></app-spinner>

	<div *ngIf="!loading">
		<div *ngIf="truequeAceptado.length == 0">
			<!-- <div> [class]="userData.isLoggedIn && truequeAceptado.length == 1 ? 'col-sm-12 col-md-8' : ''" -->
			<app-main-card-publicacion [publicacion]="publicacion" [userData]="userData" [userType]="userType"
			(intercambiarEvent)="intercambiar()" (comprarEvent)="comprar()"></app-main-card-publicacion>
			<!-- </div> -->
		</div>
		<div *ngIf="userData.isLoggedIn && truequeAceptado.length == 1 && mainPublicacionCard" class="main-row">
			<div ngbAccordion #accordion="ngbAccordion" class="dense-3" style="min-width: 255px;">
				<div ngbAccordionItem="first" #first="ngbAccordionItem" [collapsed]="false" [disabled]="screenWidth > 576">
					<h2 ngbAccordionHeader>
						<button ngbAccordionButton class="bg-transparent accordion-header-button">
							<mat-icon>question_answer</mat-icon>
							<span style="margin-left: 10px; display: flex; align-items: center; gap: 10px;">
								<span>Chat</span>
							</span>
							<button mat-mini-fab *ngIf="screenWidth > 576" (click)="openChat()" class="open-chat"><mat-icon>zoom_out_map</mat-icon></button>
							
						</button>
					</h2>
					<div ngbAccordionCollapse>
						<div ngbAccordionBody>
							<ng-template>
								<app-chat [mensajes]="mensajes" [userData]="userData" [elOtroSwapper]="elOtroSwapper"
								[trueques]="trueques" [userType]="userType" [publicacion]="publicacion"
								(sentMessage)="getMessages($event)"></app-chat> 
								
							</ng-template>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-lg-5">
					<!-- <h3 style="margin: 20px 0 0 5px; font-weight: bold;"> Trueque Aceptado! </h3> -->
					<app-card [cardData]="mainPublicacionCard" app="publicaciones"></app-card>
				</div>
				<div class="col-sm-12 col-lg-2" style="display: flex; align-items: center; justify-content: center;">
					<mat-icon class="swap-icon">
						{{screenWidth > 992 ? 'swap_horiz' : 'swap_vert'}}
					</mat-icon>
					<!-- <mat-icon *ngIf="screenWidth <= 992" class="swap-icon">swap_vert</mat-icon> -->
				</div>
				<div class="col-sm-12 col-lg-5">
					<!-- <h3 style="margin: 20px 0 0 5px; font-weight: bold;"> Trueque Aceptado! </h3> -->
					<app-card [cardData]="truequeAceptado[0]" app="publicaciones"></app-card>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="userData.isLoggedIn && truequeAceptado.length == 0 && mainPublicacionCard && mainPublicacionCard.estado == 'ABIERTA'">
		<div>
			<h3 style="margin: 20px 0 0 5px; font-weight: bold;">
				{{this.userType == 'publicacionPropuesta' ? 'Mi Trueque Activo' : 'Propuestas de Trueque'}}
			</h3>
			<div *ngIf="truequesActivos.length == 0 && !loading" style="text-align: center;">
				Esta publicación no tiene nuevas propuestas aún!
			</div>
			<div *ngIf="truequesActivos.length > 0">
				<app-deck [cardList]="truequesActivos" app="publicaciones" [fullScreenWidth]="true"
				(statusChanged)="getTrueques()"></app-deck>
			</div>
		</div>

		<div *ngIf="historialTrueques.length > 0">
			<h3 style="margin: 20px 0 0 5px; font-weight: bold;">
				Historial de Trueques
			</h3>
			<app-deck [cardList]="historialTrueques" app="publicaciones" [fullScreenWidth]="true"></app-deck>
		</div>
	</div>
</div>