<app-header></app-header>

<div id="main-publicacion" class="app-main-div">
	<app-spinner [loading]="loading"></app-spinner>

	<div class="row" *ngIf="!loading">
		<div [class]="userData.isLoggedIn && truequeAceptado.length == 1 ? 'col-sm-12 col-md-8' : ''">
			<app-main-card-publicacion [publicacion]="publicacion" [userData]="userData" [userType]="userType"
			(intercambiarEvent)="intercambiar()" (comprarEvent)="comprar()"></app-main-card-publicacion>
		</div>
		
		<div *ngIf="userData.isLoggedIn && truequeAceptado.length == 1" class="col-sm-12 col-md-4">
			<!-- <h3 style="margin: 20px 0 0 5px; font-weight: bold;"> Trueque Aceptado! </h3> -->
			<app-card [cardData]="truequeAceptado[0]" app="publicaciones"></app-card>
		</div>
	</div>


	<div *ngIf="userData.isLoggedIn">
		<div *ngIf="truequeAceptado.length == 0">
			<h3 style="margin: 20px 0 0 5px; font-weight: bold;">
				{{this.userType == 'publicacionPropuesta' ? 'Mi Trueque Activo' : 'Propuestas de Trueque'}}
			</h3>
			<div *ngIf="truequesActivos.length == 0 && !loading" style="text-align: center;">
				Esta publicación no tiene nuevas propuestas aún!
			</div>
			<div *ngIf="truequesActivos.length > 0">
				<app-deck [cardList]="truequesActivos" app="publicaciones" [fullScreenWidth]="true"
				(statusChanged)="getTrueques()"></app-deck>
			</div>
		</div>

		<div *ngIf="historialTrueques.length > 0">
			<h3 style="margin: 20px 0 0 5px; font-weight: bold;">
				Historial de Trueques
			</h3>
			<app-deck [cardList]="historialTrueques" app="publicaciones" [fullScreenWidth]="true"></app-deck>
		</div>
	</div>
</div>